{{!-- si hay adopción, sale una sección de adopcion arriba de lo de historias de exito

sino, solo historias de exito --}}


<p>That's awesome {{userData.username}}! You have adopted {{petData.petName}} &#128525;</p>



<br>

<button type="submit"><a href="/listPets">Go check more pets to adopt &#128521;</a></button>

<a href="/">Home</a>
  