{{!-- si hay adopción, sale una sección de adopcion arriba de lo de historias de exito

sino, solo historias de exito --}}


<p>genial! {{username}} has adoptado un perrito</p>

<p>regresa a la página inicial</p>

<br>
<a href="/">Home</a>
  