<div>
 
  <h5>Write and submit a comment</h5>


  <form action="profile/{{hbpet._id}}/comment" method="POST"> 
  
  <textarea id="commentID" name="comment" rows="4" cols="50" placeholder="Write here your thoughts about this pet"> </textarea>
  <br>
  <input type="submit" value="Submit">
</form>


</div>
 