<div id="form">
    <h2>Signup</h2>
    <form action="/auth/signup" method="post">
        <label for="">Nombre:
             <input type="text" name="username" placeholder="joselito">
        </label>

        <label for="">Apellido:
             <input type="text" name="lastname" placeholder="simpson">
        </label>

        <label for="">Telefono:
             <input type="number" name="number" placeholder="1234567890">
        </label>

        <label for="">Correo electronico:
             <input type="email" name="email" placeholder="joselito.simpson@gmail.com">
        </label>

        <label for="">Imagen:
             <input type="file" name="profile_pic">
        </label>

        <label for="">Contraseña:
            <input type="password" name="password" placeholder="*******">
        </label>

        <button type="submit">Crear mi usuario</button>
    </form>
</div>