<div id="form">
    <h2>Signup</h2>
    <form action="/auth/signup" method="post" enctype="multipart/form-data">
        <label for="">Name:
             <input type="text" name="username" placeholder="joselito">
        </label>

        <label for="">LastName:
             <input type="text" name="lastname" placeholder="simpson">
        </label>

        <label for="">Number phone:
             <input type="number" name="number" placeholder="1234567890">
        </label>

        <label for="">Email:
             <input type="email" name="email" placeholder="joselito.simpson@gmail.com">
        </label>

        <label for="">Image:
             <input type="file" name="profile_pic">
        </label>

        <label for="">Password:
            <input type="password" name="password" placeholder="*******">
        </label>

        <button type="submit">Create</button>
    </form>
</div>
<br>
<div>
     <p>Do you have an account?</p>
     <button><a href="/auth/login">Access</a></button>
</div>


{{#if errorMessage}}
    {{errorMessage}}
    <br>
    <img src="https://c.tenor.com/cqnZ1RW_XjsAAAAM/horny-bonk.gif" alt="">
{{/if}}