<h2>Login</h2>

<form action="/auth/login" method="post">

<label for="">Email</label>
<input type="text" name="email" >

<label for="">Password</label>
<input type="password" name="password" >

<button type="submit">Login</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
<br>
<img src="https://c.tenor.com/cqnZ1RW_XjsAAAAM/horny-bonk.gif" alt="">
{{/if}}