<form action="/createNewPet" method="POST" enctype="multipart/form-data">

   <label> Pet Name</label>
      <input type="text" name="petName">
   
   <label> Pet Type</label>
 <select name="petType">
  <option value="Cat">Cat</option>
  <option value="Dog">Dog</option>
</select>

   
<label> Profile Pic</label>
     <input type="file" name="profile_pic">

   <label> Pet Size</label>
      <input type="text" name="size">

      <label> Pet Weight</label>
      <input type="text" name="weight">



      <label> Pet Sex</label>
<select name="sex">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>




      <label> Pet address</label>
      <input type="text" name="address">


   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}