<div class="container py-5 my-5 createNewPet" style="background-color: #f4eed6">

        {{#if errorMessage}}

        <div class="alert">
          
          <a href="/createNewPet">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
          >&times;</span>
          </a>
          <strong>Error:</strong>
          {{errorMessage}}
        </div>

      {{/if}}

  <h4 class="display-4 d-flex justify-content-center my-5">Welcome! Please Fill
    The Pet Data and Press Submit</h4>

  <div class="row">
    <div class="col">



      <form
        action="/createNewPet"
        method="POST"
        enctype="multipart/form-data"
        class="px-md-2"
        id="createNewPet"
      >

        <section class="">
          <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="">
                <div class="card rounded-3">
                  <img
                    src="images/happykittydog.png"
                    class="w-100"
                    style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                    alt="Sample photo"
                  />
                  <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-4 px-md-2">Register the
                      pet</h3>

                    <div class="form-outline mb-4">

                      <input
                        type="text"
                        id="form3Example1q"
                        class="form-control"
                        name="petName"
                      />

                      <label class="form-label h5">Pet Name</label>

                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">

                        <div class="form-outline datepicker">

                          <input
                            type="number"
                            name="weight"
                            class="form-control"
                            id="exampleDatepicker1"
                          />
                          <label class="form-label">Pet Weight in kilograms</label>
                        </div>

                      </div>

                      <div class="col-md-6 mb-4">

                        <select name="size" class="form-select" id="size">

                          <option value="Mini">Mini</option>
                          <option value="Small">Small</option>
                          <option value="Medium">Medium</option>
                          <option value="Large">Large</option>
                          <option value="Extra large">Extra large</option>
                        </select>

                        <label> Pet Size</label>

                      </div>


                      
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">

                        <select name="sex" class="form-select">

                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                        <label> Pet Sex</label>

                      </div>

                      <div class="col-md-6 mb-4">

                        <select name="petType" class="form-select">

                          <option value="Cat">Cat</option>
                          <option value="Dog">Dog</option>
                        </select>
                        <label> Pet Type</label>
                      </div>

                    </div>

                    <div class="form-outline mb-4">

                      <input
                        type="text"
                        class="form-control"
                        name="address"
                        id="addressPet"
                        placeholder="Find the address in the Google Maps &#10145;&#65039;"
                        readonly
                      />

                      <label class="form-label">Pet address</label>
                    </div>

                    <div class="form-group">

                      <input
                        class="form-control"
                        type="file"
                        name="profile_pic"
                        required
                      />
                      <label>Profile Pic</label>

                    </div>

                    <div class="col">

                      <button
                        type="submit"
                        class="btn btn-success btn-lg my-4"
                      >Submit</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <input
          type="hidden"
          name="latitude"
          placeholder="latitude"
          id="latResult"
        />
        <input
          type="hidden"
          name="longitude"
          placeholder="longitude"
          id="longResult"
        />

      </form>

    </div>

    <div class="col align-self-center">

      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Find the place:</h3>

      <div id="map1"></div>

      <div>

        <input
          type="text"
          class="w-auto p-3 h-auto h5"
          name=""
          placeholder="Find pet address in map"
          id="address"
        />

        <input class="w-auto p-3 h-auto h5" type="submit" name="" id="submit" />

      </div>

      <a class="btn btn-success btn-lg my-4" href="/listPets">Back to the list</a>
      <a class="btn btn-success btn-lg my-4" href="/">Go Home</a>

      <input type="hidden" name="lat" id="lat" />
      <input type="hidden" name="long" id="long" />

    </div>
  </div>
</div>

<script src="{{key}}"></script>

<script type="text/javascript" src="/js/profileMap.js"></script>