<h1>{{appTitle}} 🚀</h1>

<p>Welcome to Pockepet</p>

<br>
<a href="/createNewPet">Add a new pet</a>
<br>
<a href="/auth/signup">Create your profile</a>

<br>
<a href="/auth/login">login</a>

<br>
<a href="/listPets">List of available pets</a>
