




<div class="container" style="background-color: #8fc4b7;">

    <h1>{{appTitle}}&#128021; &#128008; </h1>

<p>Welcome to Pockepets</p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/adoptMe.png" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="images/whoAreWe.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/instructions.png" class="d-block w-100" alt="...">

      <div class="carousel-caption d-none d-md-block">

        <h3>Instructions</h3>
       
     <ul class="h4 ">

        <li>
<a href="/auth/signup">1. Create your profile</a></li>

<li>
<a href="/auth/login">2. Login</a></li>

<li>
<a href="/createNewPet">3. Add a new pet</a></li>

<li>
<a href="/listPets">4. Go check the list of available pets</a>
</li>
</ul>
      </div>




    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 

 









</div>