body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map {
  width: auto;
  height: 500px;
}

#map1 {
  width: auto;
  height: 500px;
}

#map0 {
  width: auto;
  height: 500px;
}

.access a{
  text-decoration: none;
  color: #ffff;
}

.sendMail{
  text-align: center;

}

.access a:hover{
  color:gainsboro;
}